.hljs,
.hljs-subst {
  color: #434f54;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
  color: #00979d;
}

.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code {
  color: #d35400;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag {
  color: #00979d;
}

.hljs-comment {
  color: rgba(149, 165, 166, 0.8);
}

.hljs-meta-keyword {
  color: #728e00;
}

.hljs-meta {
  color: #728e00;
  color: #434f54;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-function {
  /*  color: #728E00;*/
}

.hljs-number {
  color: #8a7b52;
}

.hljs-addition {
  background-color: var(--bs-success-bg-subtle)
}

.hljs-deletion {
  background-color: var(--bs-danger-bg-subtle);
}

.hljs-addition, .hljs-deletion {
  display: inline-block;
  width: 100%;
}

.hljs.language-patch {
  .hljs-addition {
    color: var(--bs-success);
  }

  .hljs-deletion {
    color: var(--bs-danger);
  }
}

/* Add a ✅ or ⛔ to the beginning of each line */
/* NOTE: use language "patch" if you don't want this style */
.hljs.language-diff {
  .hljs-addition, .hljs-deletion {
    position: relative;

    &::after {
      position: absolute;
      top: 1px;
      left: -6px;
    }
  }

  .hljs-addition::after {
    content: "✅";
  }

  .hljs-deletion::after {
    content: "⛔";
  }
}
